    body { 
        background: #e9f0f3; 
        font-family: 'Poppins', sans-serif;
    }
    .sidebar {
      min-height: 100vh;
      background: #cde1e5;
      padding-top: 20px;
    }
    .sidebar a {
      color: #144b50;
      font-weight: 500;
      display: block;
      padding: 12px 20px;
      border-radius: 10px;
      margin-bottom: 8px;
      text-decoration: none;
    }
    .sidebar a.active, .sidebar a:hover {
      background: #0fa4af;
      color: white;
    }
    .card-custom {
      border-radius: 20px;
      background: white;
      box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    }

    .text-primaryPNJ {
      color : #018797;
    }

    .fc-event {
      text-decoration: none !important;
    }

    .tablePNJ th {
        background-color: #018797 !important;
        color: white;
    }

    .bgPNJ {
        background-color: #018797 !important;
    }

    .card {
    border-radius: 16px !important;
}

.form-select, .form-control {
    padding: 10px 14px;
}

.sidebar a.active {
    background: #e9f3ff;
    color: #0d6efd !important;
    border-radius: 8px;
}

.sidebar a {
    padding: 12px 18px;
    display: block;
    color: #333;
    font-weight: 500;
}

.accordion-button {
    border-radius: 8px !important;
}

@media (min-width: 768px) {
  #sidebarOffcanvas {
      display: block !important;
      transform: none !important;
      visibility: visible !important;
      width: 240px;           
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      border-right: 1px solid #d5d5d5;
      z-index: 1000;
  }

  .main-content {
      margin-left: 240px;   
  }
}

.sidebar {
    background: #cde1e5;
    padding-top: 20px;
}







